<div class="container__menu-title">
  <h1 class="title">Octonews</h1>
  <hr id="big__divider__line__menu-title" />
  <div class="subtitle__container__menu-title">
    <div class="tags__menu-title">
      <a class="tag" routerLink="/">Engineering</a>
      <span class="tag__divider">/</span>
      <a class="tag" routerLink="/">Product</a>
      <span class="tag__divider">/</span>
      <a class="tag" routerLink="/">Security</a>
      <span class="tag__divider">/</span>
      <a class="tag" routerLink="/">Open Source</a>
      <span class="tag__divider">/</span>
      <a class="tag" routerLink="/">Enterprise</a>
      <span class="tag__divider">/</span>
      <a class="tag" routerLink="/">Policy</a>
      <span class="tag__divider">/</span>
      <a class="tag" routerLink="/">Education</a>
      <span class="tag__divider">/</span>
      <a class="tag" routerLink="/">Community</a>
      <span class="tag__divider">/</span>
      <a class="tag" routerLink="/">Company</a>
    </div>
    <div class="search__container__menu-title">
      <input type="text" name="search" id="search" placeholder="search" />
      <button class="btn__search">
        <img
          src="https://imgs.search.brave.com/yY4VclDWbfqp7ImlCUvDJ9wBlGoLlQoM5UYfo9tS44I/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy81/OWNmYzRkMmQzYjE5/MzYyMTBhNWRkYzcu/cG5n"
          alt="Lupa"
          width="20px"
          height="20px"
        />
      </button>
    </div>
  </div>
  <hr id="thin__divider__line__menu-title" />
</div>
