<nav class="container__menu-bar">
  <div>
    <ul>
      <li>
        <img
          id="github-logo"
          src="https://imgs.search.brave.com/tImca2VIIdOco6cvCipn5tWDw7_ZjWmGEHqOgzC5_YY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZs/YXRpY29uLmNvbS81/MTIvMjUvMjUyMzEu/cG5n"
          alt="GitHub Logo"
        />
      </li>
      <li>
        Product
        <img
          src="https://imgs.search.brave.com/UutCGJvExTZJCKmyGaPAzCCVXLWWopOacOQRpV1lu9I/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudGhlbm91bnBy/b2plY3QuY29tL3Bu/Zy8xMjQ1MjM2LTIw/MC5wbmc"
          alt="Chevron Down"
        />
      </li>
      <li>
        Solution
        <img
          src="https://imgs.search.brave.com/UutCGJvExTZJCKmyGaPAzCCVXLWWopOacOQRpV1lu9I/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudGhlbm91bnBy/b2plY3QuY29tL3Bu/Zy8xMjQ1MjM2LTIw/MC5wbmc"
          alt="Chevron Down"
        />
      </li>
      <li>
        Open Source
        <img
          src="https://imgs.search.brave.com/UutCGJvExTZJCKmyGaPAzCCVXLWWopOacOQRpV1lu9I/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudGhlbm91bnBy/b2plY3QuY29tL3Bu/Zy8xMjQ1MjM2LTIw/MC5wbmc"
          alt="Chevron Down"
        />
      </li>
      <li>
        Pricing
        <img
          src="https://imgs.search.brave.com/UutCGJvExTZJCKmyGaPAzCCVXLWWopOacOQRpV1lu9I/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudGhlbm91bnBy/b2plY3QuY29tL3Bu/Zy8xMjQ1MjM2LTIw/MC5wbmc"
          alt="Chevron Down"
        />
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <div id="container__github-search">
          <p>Search GitHub</p>
          <span>/</span>
        </div>
      </li>
      <li><a href="#">Sign in</a></li>
      <li><a href="#">Sign up</a></li>
    </ul>
  </div>
</nav>
