/* You can add global styles to this file, and also import other style files */
@import "./styles/fonts";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Milligram Trial", sans-serif;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  cursor: pointer;
  border: none;
}
